@use '@scss/media' as *;

.author {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'avatar name'
    'avatar date';
  gap: 0px 10px;
  padding-left: 15px;

  @include tablet {
    padding-left: 20px;
  }

  @include laptop {
    padding-left: 0;
  }
}

.linkAvatar {
  grid-area: avatar;
  border-radius: 50%;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  @include tablet {
    width: 45px;
    height: 45px;
  }

  @include laptop {
    width: 40px;
    height: 40px;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.linkName {
  grid-area: name;
  align-self: end;
  font-weight: 700;

  @include laptop {
    font-size: 14px;
    color: #fff;
  }

  @include desktop {
    font-size: 12px;
  }
}

.date {
  grid-area: date;
}
