@use '@scss/media' as *;

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-shrink: 0;
  gap: 15px;
  padding-right: 15px;

  @include tablet {
    gap: 10px;
    padding-right: 0;
  }

  @include desktop {
    gap: 7px;
  }
}

.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  background: linear-gradient(to bottom, transparent 50%, rgba(10, 20, 30, 0.02) 100%), white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 7px 12px;

  &:hover,
  &:hover .icon {
    color: #000;
    border-color: #000;
  }

  @include tablet {
    padding: 3px 7px;
  }
}

.icon {
  width: 15px;
  height: 15px;
  color: #767676;
}

.count {
  font-weight: 700;

  @include tablet {
    font-size: 12px;
    color: #fff;
  }
}

.liked {
  background-color: #f15151;

  &:hover {
    background-color: #e04c4c;
  }
}
