@use '@scss/media' as *;
@use '@scss/variables' as *;

.logo {
  @include laptop {
    &:hover {
      scale: 1.1;
    }
  }
}

.img {
  @include tablet {
    width: 40px;
  }

  @include laptop {
    width: 50px;
  }
}
