@use '@scss/media' as *;

.photoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 140px);
  padding-bottom: 50px;
  margin: 0 auto;
}

.figure {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  max-height: 100%;

  @include laptop {
    gap: 20px;
  }
}

.img {
  height: calc(100% - 50px);
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  a,
  time {
    color: inherit;
  }
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
  padding-right: 15px;

  @include tablet {
    padding-right: 20px;
  }

  @include laptop {
    padding-right: 0;
  }

  @include desktop {
    gap: 7px;
  }
}

.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  background: linear-gradient(to bottom, transparent 50%, rgba(10, 20, 30, 0.02) 100%), white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 7px 12px;

  &:hover,
  &:hover .icon {
    color: #000;
    border-color: #000;
  }
}

.icon {
  width: 15px;
  height: 15px;
  color: #767676;
}

.count {
  font-weight: 700;

  @include laptop {
    font-size: 16px;
  }

  @include desktop {
    font-size: 14px;
  }
}

.liked {
  background-color: #f15151;

  &:hover {
    background-color: #e04c4c;
  }

  .icon {
    color: #fff;
  }
}

.back {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  color: tomato;
  border: 1px solid tomato;
  border-radius: 2px;
  padding: 2px 5px;

  svg {
    width: 15px;
    transform: rotate(180deg);
  }

  &:hover {
    background-color: tomato;
    color: #fff;
  }
}
