@use '@scss/media' as *;

.item {
  display: block;
  list-style: none;
  margin-bottom: 40px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @include laptop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
    }
  }
}

.author {
  @include laptop {
    position: relative;
  }
}

.link {
}

.img {
  width: 100%;
}

.like {
  @include laptop {
    position: relative;
  }
}
