@use '@scss/media' as *;
@use '@scss/variables' as *;

.auth {
  @include laptop {
    &:hover {
      scale: 1.1;
    }
  }
}

.img {
  @include tablet {
    width: 30px;
  }

  @include laptop {
    width: 35px;
  }
}
